In [4]:
import mysql.connector as conn

In [6]:
mydb = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
)
mycursor = mydb.cursor()
mycursor.execute("create database testpy")

In [13]:
mydb = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "testpy",
)

mycursor = mydb.cursor()
mycursor.execute("create table user(name varchar(45), age int(10))")

In [15]:
mycursor.execute("CREATE TABLE customer (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [16]:
mycursor.execute("show tables")
for x in mycursor:
    print (x)

('customer',)
('user',)

In [18]:
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.